#shareModal {
  width: 500px;
  height: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 999999 !important; */
}
  
.lsm-share-modal-container {
border: 1px solid #333 !important;
}